##############################
## Folders                  ##
##############################
node_modules
testlog
 
##############################
## Netbeans conf            ##
##############################
package-lock.json