##############################
## Folders                  ##
##############################
node_modules
testlog
.vscode
 
##############################
## Netbeans conf            ##
##############################
package-lock.json
console.log.js