extends layout

block stylesheet
    link(rel="stylesheet", href="/css/index.mix.css")

block content
    .indexMain
        nav
            a(href="www.baidu.com").logo
            ul.navList
                li.navItem Home

block javascript
    script(src="/js/index.mix.js")