doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/main.mix.css")
        //- 页面样式
        block stylesheet
    body
        .layoutBg
            .layoutBox
                header.pageHeader

                //- 子页面内容
                block content

                footer.pageHeader
        
        script(src="/js/main.mix.js")

        //- 页面js
        block javascript