doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/commons.mix.css")
        link(rel="stylesheet", href="/css/main.mix.css")
        //- 页面样式
        block stylesheet
    body
        .layoutBg
            //- 子页面内容
            block content
        
        //- 特殊子页面
        block childContent
        
        script(src="/js/commons.mix.js")
        script(src="/js/main.mix.js")

        //- 页面js
        block javascript