/**
 * ---------------------
 * 多页面样式 - main
 * ---------------------
 */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/*
 * 页面主背景
 */
.layoutBg {
    background: linear-gradient(
        to top,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0) 100%
    ), url('../bgImg/RanwuLake.jpg') no-repeat top center;
}

/*
 * 页面核心内容 1200
 */
 .layoutBox {
    width: 1200px;
    margin: 0 auto;
 }

 /*
 * 页面头部
 */