doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/entry.support.mix.css")
    body
        .echartBox(id="echartBox")

        script(src="/js/commons.mix.js")
        script(src="/js/entry.support.mix.js")