extends ../layout

block stylesheet
    link(rel="stylesheet", href="/css/entry.support.mix.css")

block content
    .echartBox(id="echartBox")

block javascript
    script(src="/js/entry.support.mix.js")