extends ../layout

block stylesheet
    link(rel="stylesheet", href="/css/entry.users.mix.css")

block childContent
    
    .userCenterApp(id="usersApp")

block javascript
    script(src="/js/entry.users.mix.js")