extends ../layout

block stylesheet
    link(rel="stylesheet", href="/css/entry.users.mix.css")

    //- meta(itemprop="name" content="Quelima SQ13 Mini HD 1080P Car DVR DV Camera - $19.99 Free Shipping|GearBest.com")
    //- meta(itemprop="description" content="Only $19.99，buy Quelima SQ13 Mini HD 1080P Car DVR DV Camera at GearBest Store with free shipping.")
    //- meta(itemprop="image" content="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/04/28/source-img/20180428155948_51830.jpg")

    //- meta(name="twitter:card" content="product")
    //- meta(name="twitter:site" content="GearBest")
    //- meta(property="twitter:account_id" content="3308610866")
    //- meta(name="twitter:title" content="Quelima SQ13 Mini HD 1080P Car DVR DV Camera - $19.99 Free Shipping|GearBest.com")
    //- meta(name="twitter:description" content="Only $19.99，buy Quelima SQ13 Mini HD 1080P Car DVR DV Camera at GearBest Store with free shipping.")
    //- meta(name="twitter:image" content="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/04/28/source-img/20180428155948_51830.jpg")
    //- meta(name="twitter:data1" content="$")
    //- meta(name="twitter:label1" content="Price")
    //- meta(name="twitter:data2" content="BLACK")
    //- meta(name="twitter:label2" content="Color")

    meta(property="og:title" content="Quelima SQ13 Mini HD 1080P Car DVR DV Camera - $19.99 Free Shipping|GearBest.com")
    meta(property="og:type" content="article")
    meta(property="og:url" content="https://www.gearbest.com/car-dvr/pp_1823234.html")
    meta(property="og:image" content="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/04/28/source-img/20180428155948_51830.jpg")
    meta(property="og:description" content="Only $19.99，buy Quelima SQ13 Mini HD 1080P Car DVR DV Camera at GearBest Store with free shipping.")
    //- meta(property="og:site_name" content="GearBest")
    //- meta(property="fb:page_id" content="624353394279966")
    //- meta(property="og:price:amount" content="19.99")
    //- meta(property="og:price:currency" content="USD")

    //- <script type="application/ld+json">
    //-     {
    //-         "@context": "http://schema.org/",
    //-         "@type": "Product",
    //-         "name": "Quelima SQ13 Mini HD 1080P Car DVR DV Camera",
    //-         "image": "https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/04/28/source-img/20180428155948_51830.jpg",
    //-         "description": "Only $19.99，buy Quelima SQ13 Mini HD 1080P Car DVR DV Camera at GearBest Store with free shipping.",
    //-         "mpn": "1823234",
    //-         "brand": {
    //-             "@type": "Thing",
    //-             "name": "mangrove"
    //-         },
    //-                     "offers": {
    //-             "@type": "Offer",
    //-             "priceCurrency": "USD",
    //-             "price": "19.99",
    //-             "itemCondition": "http://schema.org/NewCondition",
    //-             "availability": "http://schema.org/InStock",
    //-             "seller": {
    //-                 "@type": "Organization",
    //-                 "name": "GearBest"
    //-             }
    //-         }
    //-     }
    //- </script>

block childContent
    
    .userCenterApp(id="usersApp")

block javascript
    script(src="/js/entry.users.mix.js")